# Dependencias de Node.js
node_modules/
package-lock.json

# Variables de entorno
.env

# Compilación de TypeScript
dist/
*.js
*.js.map

# Archivos de configuración del editor
.vscode/
.idea/

# Archivos de logs y caché
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de Git
.DS_Store
Thumbs.db
